<div id="login-component">
	<form class="form-group">
		<div class="form-row">
			<img src="" alt="" class="brand">
		</div>
		<div class="form-control">
			<label for="user"></label>
			<input type="text" class="input-md" name="user">
		</div>
		<div class="form-control">
			<label for="pwd"></label>
			<input type="password" class="input-md" name="pwd">
		</div>
		<button class="btn btn-primary">Enviar</button>
	</form>
</div>