.b-reset {
	border:none;
}

.expand {
	outline: none!important;
	box-shadow: none!important;
	background: #eee;
	padding: 10px;
	color: deepskyblue;
	border-radius: unset;
	border: none;
	border-bottom: 1px solid deepskyblue;
	background: ghostwhite;
}

.border {
	position: relative;
	height: 3px;
	width: 100%;
	top: 100%;
	background: deepskyblue;
	transform: scaleX(0);
	transition: transform 0.3s;
	transform-origin: 50%;
}

.expand:focus + .border {
 	transform: scaleX(1);
}

.expand:focus{
	background-color: whitesmoke!important;
	transition: 0.5s;
	animation:linear ease-in;
}

.expand-danger {
	outline: none!important;
    box-shadow: none!important;
    padding: 10px;
    color: #a7a7a7;
    border: none;
    border-radius: unset;
    border-bottom: 1px solid red;
    background: #fff5f5;
}

.border-danger {
	position: relative;
	height: 3px;
	width: 100%;
	top: 100%;
	background: red;
	transform: scaleX(0);
	transition: transform 0.3s;
	transform-origin: 50%;
}

.expand-danger:focus + .border-danger {
 	transform: scaleX(1);
}

.expand-danger:focus{
	border-bottom: none;
	background-color: #fff5f5!important;
	transition: 0.5s;
	animation:linear ease-in;
}

.expand-info {
    outline: none!important;
    box-shadow: none!important;
    padding: 10px;
    color: #a7a7a7;
    border: none;
    border-radius: unset;
    border-bottom: 1px solid #ffe000;
    background: #fffbe0;
}

.border-info {
	position: relative;
	height: 3px;
	width: 100%;
	top: 100%;
	background: #ffe000;
	transform: scaleX(0);
	transition: transform 0.3s;
	transform-origin: 50%;
}

.expand-info:focus + .border-info {
 	transform: scaleX(1);
}

.expand-info:focus{
	border-bottom: none;
	background-color: #fffbe0!important;
	transition: 0.5s;
	animation:linear ease-in;
}

.expand-success {
	outline: none!important;
    box-shadow: none!important;
    padding: 10px;
    color: #a7a7a7;
    border: none;
    border-radius: unset;
    border-bottom: 1px solid #5bb508;
    background: #edffdc;
}

.border-success {
	position: relative;
	height: 3px;
	width: 100%;
	top: 100%;
	background: #5bb508;
	transform: scaleX(0);
	transition: transform 0.3s;
	transform-origin: 50%;
}

.expand-success:focus + .border-success {
 	transform: scaleX(1);
}

.expand-success:focus{
	border-bottom: none;
	background-color: #edffdc!important;
	transition: 0.5s;
	animation:linear ease-in;
}