<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>botones</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../botones/botones.css">
	<link rel="stylesheet" href="inputs.css">
	<link rel="stylesheet" href="../botones/waves/waves.min.css">
</head>
<body>
    <div class="container">
        <!-- Version ESTANDAR -->
        <div class="col-md-6">
            <h1>Version estandar</h1>
        </h2>
            <form>
                <label for="nombre">Nombres</label>
                    <br>
                <input type="text" placeholder="Igrese sus dos nombres" name="nombre" class="form-control" v-model="usuario.nombre">
                <br>
                <br>
                <label for="apellido">Apellidos</label>
                <br>
                <input type="text" placeholder="Ingrese sus dos apellidos" name="apellido" class="form-control" v-model="usuario.apellido">
                <br>
                <br>
                <label for="Pais">Pais</label>
                <br>
                <input type="select" placeholder="Seleccione Pais de residencia" name="pais" class="form-control" v-model="usuario.pais">
                <br>
                <br>
                <label for="keywords">Competencias</label>
                <br>
                <input type="text" placeholder="Ingrese sus competencias" name="keywords" class="form-control"
                    v-model="usuario.comptetencias">
                <br>
                <br>
                <label for="email">e-Mail</label>
                <br>
                <input type="email" placeholder="Ingrese Direccion de e-Mail" name="email" class="form-control" v-model="usuario.email">
                <br>
                <br>
                <label for="niveleducativo">Nivel Educativo</label>
                <br>
                <input type="text" placeholder="Indicar nivel de estudios" name="niveleducativo" class="form-control"
                    v-model="usuario.niveleducativo">
                <br>
                <br>
                <label for="organizacion">Organizacion</label>
                <br>
                <input type="text" placeholder="Indique su Organizacion" name="organizacion" class="form-control"
                    v-model="usuario.organizacion">
                <br>
                <br>
                <label for="empleo">Empleo</label>
                <br>
                <input type="text" placeholder="Indique su empleo" name="empleo" class="form-control" v-model="usuario.empleo">
                <br>
                <br>
                <label for="topicos">Topico</label>
                <br>
                <input type="text" placeholder="Ingrese sus topicos" name="topicos" class="form-control" v-model="usuario.topicos">
                <br>
                <br>
                <label for="usuario">Usuario/Password</label>
                <br>
                <input type="text" placeholder="Usuario/Nick" name="usuario" class="form-control" v-model="usuario.usuario">
                <br v-if="usuario.id == 0">
                <input v-if="usuario.id == 0" type="password" placeholder="Clave" name="clave" class="form-control"
                    v-model="usuario.clave">
                    <br>
                    <br>
                    <label for="activo">Activo</label>
                    <br>
                <input type="checkbox" name="activo" class="form-control" v-model="usuario.activo">
                <br>
                    <br>
                <button class="btn btn-success" type="button" v-on:click="guardarUsuario">Guardar</button>
                <router-link class="btn btn-secondary" to="/usuarios">Cancelar</router-link>
                <button class="btn btn-danger" v-if="usuario.id !== 0" type="button"
                    v-on:click="eliminarUsuario">Eliminar</button>
            </form>
        </div>

        <!-- fin de la version ESTANDAR -->
        <!-- Comienzo de la version custom bootstrap -->
        <div class="col-md-6">
            <h1>Version custom bootstrap</h1>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control expand" name="nombre" placeholder="Ingrese su nombre">
                        <div class="border"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control expand" name="apellido" placeholder="Ingrese su apellido">
                        <div class="border"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="apellido">Pais</label>
                        <input type="text" class="form-control expand" name="apellido" placeholder="Ingrese su pais">
                        <div class="border"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellido">Email</label>
                        <input type="mail" class="form-control expand" name="apellido" placeholder="email@email.com">
                        <div class="border"></div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="apellido">Competencias</label>
                    <input type="text" class="form-control expand" name="apellido" placeholder="Areas en las que resulta competente">
                    <div class="border"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="opciones">Nivel educativo</label>
                        <select name="opciones" class="expand" style="padding: 7.4px;">
                            <option value="0" default>Elija una opción</option>
                            <option value="1">Primario</option>
                            <option value="2">Secundario</option>
                            <option value="3">Terciario</option>
                        </select>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="organizacion">Instituo/Organización</label>
                        <input type="text" class="form-control expand" name="organizacion" placeholder="ingrese Instituo/Organización">
                        <div class="border"></div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="intereses">Areas de su interes</label>
                        <input type="text" class="form-control expand" placeholder="Indique cada tag separado por coma. Ej) Matematicas, Fisica">
                        <div class="border"></div>
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn cbtn-primary cbtn waves">Registrarse</button>
                        <button class="btn cbtn cbtn waves">Volver al login</button>
                    </div>
                </div>
                
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-6"></div>
            </form>

            <h1 class="text-center">Ya tienes usuario?</h1>

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="usuario">Usuario</label>
                        <input type="text" class="form-control expand" placeholder="ingrese usuario">
                        <div class="border"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="pwd">Contraseña</label>
                        <input type="text" class="form-control expand" placeholder="ingrese contraseña">
                        <div class="border"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                                <button class="btn cbtn cbtn waves">login</button>
                                <button class="btn cbtn-primary cbtn waves">Registrarse</button>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
        <!-- Fin de la version custom bootstrap -->
    </div>    
<script
src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>	
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</script>
<script src="../botones/waves/waves.js"></script>
<script type="text/javascript">
    Waves.attach('.waves', ['waves-light']);
    Waves.init();
</script> 
  </body>
  </html>