.cbtn {
	box-shadow:0 1px 1.5px 1px rgba(0,0,0,.12);
    border-radius: unset;
}

.cbtn:focus {

	outline: none!important;
}

.cbtn:active {

	outline: none!important;
}

.cbtn-primary {
	background-color:#2196F3; 
	border-color: #2196F3;
	color: white;
}

.cbtn-primary:hover, .cbtn-primary:active, .cbtn-primary:focus {
	background-color:#2196F3; 
	border-color: #2196F3;
	color: white;
}

.cbtn-warning {
	background-color:#FFC107; 
	border-color: #FFC107;
	color: white;
}

.cbtn-warning:hover, .cbtn-warning:active, .cbtn-warning:focus {
	background-color:#FFC107; 
	border-color: #FFC107;
	color: white;
}

.cbtn-default {
	background-color:#f5f5f5; 
	border-color: #8c8c8c;
	color: black;
}

.cbtn-default:hover, .cbtn-default:active, .cbtn-default:focus {
	background-color:#f5f5f5; 
	border-color: #8c8c8c;
	color: black;
}

.cbtn-danger {
	background-color:#ff5722; 
	border-color: #ff5722;
	color: white;
}

.cbtn-danger:hover, .cbtn-danger:active, .cbtn-danger:focus {
	background-color:#ff5722; 
	border-color: #ff5722;
	color: white;
}

.cbtn-info {
	background-color:#00bcd4; 
	border-color: #00bcd4;
	color: white;
}

.cbtn-info:hover, .cbtn-info:active, .cbtn-info:focus {
	background-color:#00bcd4; 
	border-color: #00bcd4;
	color: white;
}
